## Tuples

In [5]:
# Tuples are defined in ()
# It can store multiple values of same or different data types including vector
# Tuples are ordered and indexed
# Tuples are immutable (They cannot be edited)
# Tuples are hashable

In [6]:
myTup = (23,45,67,89)

In [7]:
myTup

(23, 45, 67, 89)

In [8]:
type(myTup)

tuple

In [9]:
myTup1 = (23,78,91,'Lion','Apple',True)

In [10]:
myTup1

(23, 78, 91, 'Lion', 'Apple', True)

In [11]:
type(myTup1)

tuple

In [12]:
# [] Elemnets can be accessed using this

In [13]:
myTup1[2]

91

In [14]:
myTup1[-1]

True

In [15]:
myTup1[4]

'Apple'

In [16]:
myTup1[4] = 'Banana' #Cannot be edited

TypeError: 'tuple' object does not support item assignment

In [ ]:
hash(myTup1) #Hashable function because it is stored orderedly in memory

In [ ]:
x = 69
hash(x) #only integer value is returned in hash in rest all variables memory location is returned

In [ ]:
#List is more time taking when compared to tuples

In [ ]:
dir(tuple)

In [ ]:
myTup2 = (12,11,13,12,12,11,12,14,15)

In [ ]:
myTup2.count(12) # Tells how many times given value is found in Tuple

In [ ]:
myTup2.index(12) #Displays the position of given value,if repeated value occurs shows the first one
#myTup2[0] is 12

In [ ]:
myTup3 = (23,34,56,[32,45,78],29)
type(myTup3[3])

## Dictionary

In [ ]:
# key1: value1, key2: value2, key3: value3
# It can be created in the pair of key and values
# It can be created using {}
# They are mutable, hence editable
# They are unhashable
# Keys and values can have multiple data types including vector
# They are ordered and unindexed

In [ ]:
#java -325, python - 455, machine - 625

In [ ]:
myBook = {"Java":325, "Python":455, "Machine":625}

In [ ]:
myBook

In [ ]:
type(myBook)

In [ ]:
# "Apple": 56, "Banana": 50, "Orange": 56

In [ ]:
myFruit = {"Apple":56, "Banana": 50, "Orange": 56}
myFruit

In [ ]:
# 101:98.5, 102:86.7, 103:91

In [18]:
result = {101: 98.5, 102: 86.7, 103: 91}

In [ ]:
result[101]

In [ ]:
dir(dict)

In [ ]:
hash(result)

In [20]:
result[2] #cannot be accessed using index value, instead use key

KeyError: 2

In [19]:
result

{101: 98.5, 102: 86.7, 103: 91}