# Pandas

### Series

In [9]:
# Single column is series
# More than one column Data Frame

In [10]:
import pandas as pd
import numpy as np

In [11]:
arr1 = np.random.randint(20,40,10)

In [12]:
print(arr1)

[31 23 33 31 27 25 35 39 20 34]

In [13]:
#Series-pandas Series object can be created using pd.series()

In [14]:
mySer=pd.Series(arr1, dtype = "int32")

In [15]:
mySer

0    31
1    23
2    33
3    31
4    27
5    25
6    35
7    39
8    20
9    34
dtype: int32

In [16]:
type(mySer)

pandas.core.series.Series

In [17]:
myList=[12,45,67,89,90]

In [18]:
mySer1=pd.Series(myList)
mySer1

0    12
1    45
2    67
3    89
4    90
dtype: int64

In [19]:
myTuple=(12,45, "Apple", "Banana", 89)

In [20]:
mySer2 = pd.Series(myTuple)
mySer2

0        12
1        45
2     Apple
3    Banana
4        89
dtype: object

In [21]:
myDic={"Name": "Mayank", "Salary":50000, "Age": 25}

In [22]:
mySer3 = pd.Series(myDic)
mySer3

Name      Mayank
Salary     50000
Age           25
dtype: object

In [23]:
# Numerical (Continuous) - > int,float
# Categorical - > object

In [24]:
mySet = {12,13,18,11,12,11,15}

In [25]:
mySet

{11, 12, 13, 15, 18}

In [26]:
mySer4 = pd.Series(mySet) # Because set removes duuplicate and create order in sort, HENCE UNORDERED

TypeError: 'set' type is unordered

In [27]:
# Pass your own index

mySer3 = pd.Series([12,16,18,19], index = ['a','b','c','d'])
mySer3

a    12
b    16
c    18
d    19
dtype: int64

In [28]:
mySer5 = pd.Series(myList, index = ['101','102', '103', '104', '105'])

In [29]:
mySer5

101    12
102    45
103    67
104    89
105    90
dtype: int64

In [30]:
# add prefix
mySer5.add_prefix(prefix="Std")

Std101    12
Std102    45
Std103    67
Std104    89
Std105    90
dtype: int64

In [31]:
# add suffix
mySer5.add_suffix(suffix="Rollno")

101Rollno    12
102Rollno    45
103Rollno    67
104Rollno    89
105Rollno    90
dtype: int64

In [32]:
myList = [11,14,15,None,16,19,None] # NaN Not a Number
mySer4 = pd.Series(myList)
mySer4

0    11.0
1    14.0
2    15.0
3     NaN
4    16.0
5    19.0
6     NaN
dtype: float64

In [33]:
#dtype

mySer4.dtype

dtype('float64')

In [34]:
myDic={"Name": "Mayank",None:None, "Salary":50000, "Age": 25} 
mySer = pd.Series(myDic)
mySer

Name      Mayank
None        None
Salary     50000
Age           25
dtype: object

In [35]:
# isna()
# isnull()

In [36]:
mySer4

0    11.0
1    14.0
2    15.0
3     NaN
4    16.0
5    19.0
6     NaN
dtype: float64

In [37]:
print(mySer4.isna())

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [38]:
print(mySer4.isnull()) # same as isna

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [39]:
mySer4.isna().sum()

2