In [9]:
# This is used to write comments.

# It cannot be created using keywords.

# Variable

In [5]:

# Variables are those which values are not fixed. It can be modified or changed.

x = 5
x = 6
print(x)

6

In [7]:
# It can not start from Number.

5x = 2
print(5x)

SyntaxError: invalid syntax (1050877447.py, line 3)

In [8]:
# It can be alphanumeric.

x2 = 5
print(x2)

5

In [10]:
# It does not contain space. Instead of space we can use (_)

fr_uit = 'apple'
print(fr_uit)

fr uit = 'apple'
print(fr uit)

SyntaxError: invalid syntax (3192866949.py, line 5)

# Operators

In [18]:
# Arithimatic Operators
# +,-,*,/,//(floor), &(modulus), **(power)

In [13]:
45 + 56

101

In [14]:
x = 45
y = 89

In [15]:
x + y

134

In [16]:
z = 94.5

In [17]:
x + y + z

228.5

In [19]:
p = 'Apple'

In [20]:
x + p  #Cannot add string and nummeric value

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
q ="123"

In [22]:
p + q #Can add two strings

'Apple123'

In [23]:
x - y

-44

In [24]:
x * y

4005

In [25]:
x / y

0.5056179775280899

In [26]:
x - p

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [28]:
p - q 
p * q
p / q
# Cannot work with strings-strings or strings-numbers

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [30]:
p * q

TypeError: can't multiply sequence by non-int of type 'str'

In [31]:
p / q

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [33]:
# / Operator
5 / 2 # Quotient & Remainder

2.5

In [36]:
# // Operator
5 // 2 # Floor operator only tells Quotient

2

In [37]:
//5(11.5)

NameError: name 'floor' is not defined

In [35]:
# ∞Modulus
5 % 2 # Modulus tells us remainder.

1

In [39]:
24 / 5

4.8

In [40]:
24 // 5

4

In [41]:
-24 / 5

-4.8

In [42]:
-24 // 5 # So floor operators rounds off to a lower value

-5

In [43]:
# * Multiplication
5 * 6

30

In [45]:
# ** Power Operator
2 **3 # 2*2*2

8