## Iteration Statement

In [7]:
#You have to repeat everytime.
print("Welcome to my class")
print("Welcome to my class")
print("Welcome to my class")
print("Welcome to my class")
print("Welcome to my class")
print("Welcome to my class")

Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class

### For loop

In [4]:
#For loop Syntax-
"""
for (variable name/iterator name/iterator) in range:
    Expression
"""

'\nfor (variable name-iterator name) in range:\n    Expression\n'

In [9]:
for i in range(6): # i = 0,1,2,3,4,5 => So indexing starts from 0 till 5
    print("Welcome to my class", i)

Welcome to my class 0
Welcome to my class 1
Welcome to my class 2
Welcome to my class 3
Welcome to my class 4
Welcome to my class 5

In [11]:
for i in range(11,16):
    print("Welcome to my class", i)

Welcome to my class 11
Welcome to my class 12
Welcome to my class 13
Welcome to my class 14
Welcome to my class 15

In [25]:
for i in range(21,30, 3): 
    print("Welcome to my class", i)

# 3 rd value tells us how to increement =>syntax is 21 then it will increement by 3 till the value is less than 30

Welcome to my class 21
Welcome to my class 24
Welcome to my class 27

In [27]:
for i in range(21,3,-3): 
    print("Welcome to my class", i)

Welcome to my class 21
Welcome to my class 18
Welcome to my class 15
Welcome to my class 12
Welcome to my class 9
Welcome to my class 6

In [31]:
#print even numbers fromm 1 to 30 uusing for loop
for i in range(2,31,2):
        print(i, "is even number.")

2 is even number.
4 is even number.
6 is even number.
8 is even number.
10 is even number.
12 is even number.
14 is even number.
16 is even number.
18 is even number.
20 is even number.
22 is even number.
24 is even number.
26 is even number.
28 is even number.
30 is even number.

In [32]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
sum = 0
for i in range (11,62):
    if i % 7 == 0:
        sum = sum + i
        print(i)
    else:
        print("Time waste")
        
print("Total sum of variable is", sum)

Time waste
Time waste
Time waste
14
Time waste
Time waste
Time waste
Time waste
Time waste
Time waste
21
Time waste
Time waste
Time waste
Time waste
Time waste
Time waste
28
Time waste
Time waste
Time waste
Time waste
Time waste
Time waste
35
Time waste
Time waste
Time waste
Time waste
Time waste
Time waste
42
Time waste
Time waste
Time waste
Time waste
Time waste
Time waste
49
Time waste
Time waste
Time waste
Time waste
Time waste
Time waste
56
Time waste
Time waste
Time waste
Time waste
Time waste
Total sum of variable is 245

In [12]:
sum = 0
i = 11
while(i<63):
    if i % 7 == 0:
        sum = sum + i
        i = i + 7
        print(i)
    else:
        print("Time Waste", i)
        i = i + 1

print("Total sum is", sum)

Time Waste 11
Time Waste 12
Time Waste 13
21
28
35
42
49
56
63
Total sum is 245

In [24]:
sum = 0
first_num = int(input("Enter first number: ")) 
second_num = int(input("Enter second number: "))
print("\n")
i = first_num
while(i < second_num + 1):
    if i % 7 == 0:
        sum = sum + i
        print(i)
        i = i + 7
    else:
        print("Time Waste", i)
        i = i + 1

print("\nTotal sum is of number divisible by 7 between",first_num,"&",second_num,"is", sum)

Enter first number: 11
Enter second number: 62


Time Waste 11
Time Waste 12
Time Waste 13
14
21
28
35
42
49
56

Total sum is of number divisible by 7 between 11 & 62 is 245