### Lambda

In [ ]:
# Lambda-It is a short function. It is called nameless function. It is created using Lambda keyword
# Syntax
# function name = Lambda var : expression
# We can multiple variables but we can onLy one expression
# Lambda var1, var2, var3.... : expression

In [1]:
#find the square of number using lambda function

In [1]:
square = lambda x: x**2

In [2]:
square(5)

25

In [3]:
add = lambda x1,x2,x3 : x1 + x2 + x3
add(34,56,78)

168

In [4]:
si = lambda p,r,t : (p*r*t)/100
si(1000,10,10)

1000.0

In [5]:
#import numpy as np   #install numpy for this to work
total = lambda *num : sum(num)
total(1,2,3,4,5)

15

In [6]:
# Find if number is odd or even using lambda function

oddeven =  lambda x : print("Even Number") if x % 2 == 0 else print("Odd Number")
oddeven(5)

Odd Number

In [7]:
# Find if number is divisible by 3 & 5 using lambda function

divisibility_check = lambda x : print("It is divisible by both 3 & 5") if x % 3 == 0 and x % 5 == 0 else print("It is not divisible by both 3 & 5")
divisibility_check(15)

It is divisible by both 3 & 5

### Filter

In [16]:
#filter ()
# 2 arguments - first one is function & 2nd is argument is list/tuple
# works like filter in excel stores valuue in list with a filter of condition applied

In [8]:
myList = [12,14,17,21,34,45]

even = filter(lambda x: x % 2 == 0, myList)
odd = filter(lambda x: x % 2 != 0, myList)

In [9]:
print(even) #Shares location instead of values
print(list(even)) #To convert it use typecasting to cast it into a list

<filter object at 0x7fcdfc29e850>
[12, 14, 34]

In [10]:
myList1 = [12,45,67, "Apple","Banana",59,"Orange"]
string = filter(lambda x: type(x) is str, myList1)
print(list(string))

['Apple', 'Banana', 'Orange']