In [1]:
import pandas as pd

In [2]:
df = {
    "age": [20,19,22,21],
    "grade": [88,95,92,70]
}

df = pd.DataFrame(df)
df

   age  grade
0   20     88
1   19     95
2   22     92
3   21     70

In [15]:
df["x_i-mean"] = df["grade"] - df["age"].mean()
df["std"] = df["grade"].std()
df["std_against_age"] = df["x_i-mean"]/df["std"]

In [16]:
df

   age  grade  x_i-mean        std  std_against_age
0   20     88      67.5  11.206397         6.023345
1   19     95      74.5  11.206397         6.647989
2   22     92      71.5  11.206397         6.380284
3   21     70      49.5  11.206397         4.417120

SyntaxError: invalid syntax (2424868131.py, line 1)