<h1><center>Machine Learning</center></h1>

In [214]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

ImportError: cannot import name 'joblib' from 'sklearn.externals' (/home/bharatkhanna/anaconda3/lib/python3.9/site-packages/sklearn/externals/__init__.py)

In [4]:
music_data = pd.read_csv("music.csv")

In [7]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

### Generating Input & Output sets

In [12]:
X = music_data.drop(columns=["genre"])
Y = music_data["genre"]

In [10]:
# Train 
X.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [13]:
Y.head()

0    HipHop
1    HipHop
2    HipHop
3      Jazz
4      Jazz
Name: genre, dtype: object

### Predicting Values

In [19]:
music_data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [20]:
model = DecisionTreeClassifier()
model.fit(X,Y)

predictions = model.predict([ [21,1],[22,0] ])
predictions

/home/bharatkhanna/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

### Evaluating Accuracy

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [210]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X,Y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_Train,Y_Train)
predictions = model.predict(X_Test) 

score = accuracy_score(Y_Test, predictions)
score

1.0

### Persisting Values (Save Training)

In [215]:
import joblib

In [217]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X,Y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_Train,Y_Train)
predictions = model.predict(X_Test) 

# To save:- 
joblib.dump(model,'music-recommender.joblib')

['music-recommender.joblib']

#### Loading saved Training Data

In [218]:
# To Load:-
model = joblib.load('music-recommender.joblib')

predictions = model.predict([[21,1],[23,0]])
predictions

/home/bharatkhanna/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

### Visualizing a Decision Tree

In [219]:
from sklearn import tree

In [221]:
model = joblib.load('music-recommender.joblib')

tree.export_graphviz(model, out_file='music_recommender.dot',
                    feature_names=['age','gender'],
                    class_names=sorted(Y.unique()),
                    label="all",
                    rounded=True,
                    filled=True)