In [1]:
import numpy as np

In [2]:
arr1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr2 = np.array([[10,11,12],[3,9,10],[1,9,8]])

In [11]:
arr1 , arr2

(array([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]),
 array([[10, 11, 12],
        [ 3,  9, 10],
        [ 1,  9,  8]]))

### Arithimatic Operations

In [12]:
# Addition
arr1 + arr2

array([[11, 13, 15],
       [ 7, 14, 16],
       [ 8, 17, 17]])

In [7]:
# Subraction
arr2 -arr1

array([[ 9,  9,  9],
       [-1,  4,  4],
       [-6,  1, -1]])

In [8]:
# Multiplication
arr1 * arr2

array([[10, 22, 36],
       [12, 45, 60],
       [ 7, 72, 72]])

In [10]:
# Division
arr2 / arr1

array([[10.        ,  5.5       ,  4.        ],
       [ 0.75      ,  1.8       ,  1.66666667],
       [ 0.14285714,  1.125     ,  0.88888889]])

In [13]:
arr1 * 5

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [14]:
arr3 = np.array([[1,2,3],[4,5,6]])
arr4 = np.array([[1,2],[3,4],[5,6]])

In [19]:
arr3,arr4

(array([[1, 2, 3],
        [4, 5, 6]]),
 array([[1, 2],
        [3, 4],
        [5, 6]]))

In [39]:
"ARR3:", arr3.shape , "ARR4:", arr4.shape

('ARR3:', (2, 3), 'ARR4:', (3, 2))

In [17]:
arr3 * arr4 # because shape is not same

ValueError: operands could not be broadcast together with shapes (2,3) (3,2)

In [25]:
# Mean
np.mean(arr1)

5.0

In [26]:
#Standard deviation
np.std(arr1)

2.581988897471611

In [27]:
# Median
np.median(arr1)

5.0

In [28]:
# Variance
np.var(arr1)

6.666666666666667

### Comparisan Operator

In [29]:
arr1 == arr2

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

In [30]:
arr3 == arr4

/var/folders/02/f5skj5z55bq9x80_5h41bs1r0000gn/T/ipykernel_47649/3313565652.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  arr3 == arr4

False

In [31]:
arr1 > arr2

array([[False, False, False],
       [ True, False, False],
       [ True, False,  True]])

In [32]:
arr2 >=  arr1

array([[ True,  True,  True],
       [False,  True,  True],
       [False,  True, False]])

In [33]:
arr2 <= arr1

array([[False, False, False],
       [ True, False, False],
       [ True, False,  True]])

In [35]:
names = np.array([["Tej","Bharat","Palak"],["Shailender","Jyoti","Ankit"]])
names

array([['Tej', 'Bharat', 'Palak'],
       ['Shailender', 'Jyoti', 'Ankit']], dtype='<U10')

In [36]:
names == "Neeraj"

array([[False, False, False],
       [False, False, False]])

In [37]:
names == "Tej"

array([[ True, False, False],
       [False, False, False]])

In [70]:
myList = [12,13,14,15,16]

In [43]:
myList[0:2]

[12, 13]

In [78]:
myList2 = [101 for i in myList[0:2]] #you have to use loop
myList2

[101, 101]

In [82]:
myList3 = list(map(lambda x: 101, myList[0:2])) + myList[2:] #or you havrr o use lambda
myList3

[101, 101, 14, 15, 16]

In [42]:
myList[0:2] = 101 # can't change all elements in one go

TypeError: can only assign an iterable

### Array Broadcasting

In [49]:
# Array Broadcasting
arr5 = np.array(myList)
arr5

array([12, 13, 14, 15, 16])

In [50]:
arr5[0:2] = 18 # coverts first two element with 18
arr5

array([18, 18, 14, 15, 16])

In [74]:
myArr = np.random.randn(4,3)
myArr , "Shape:", myArr.shape

(array([[ 0.0080319 , -0.4050227 ,  1.12739822],
        [-0.17948317,  1.41662508, -0.27722095],
        [-0.51935086, -0.18915152,  0.25696149],
        [ 0.09665312, -0.64685393, -1.25244894]]),
 'Shape:',
 (4, 3))

### Reshape

In [75]:
# Reshape
# If shape is 4,3 -> options to reshape are 2,6, 6,2, 1,12, 12,1 , 3,4
# Which it means it should be factiorial of given array shape

In [76]:
myArr.reshape(6,2)

array([[ 0.0080319 , -0.4050227 ],
       [ 1.12739822, -0.17948317],
       [ 1.41662508, -0.27722095],
       [-0.51935086, -0.18915152],
       [ 0.25696149,  0.09665312],
       [-0.64685393, -1.25244894]])

In [77]:
myArr.reshape(3,2) # error because (3 * 2) is not a factorial of (3 * 4)

ValueError: cannot reshape array of size 12 into shape (3,2)