In [1]:
import pandas as pd
import numpy as np

In [11]:
myList = [11,14,15,None,16,19,None,32,59,61,None,21]

In [3]:
mySer4 = pd.Series(myList)
mySer4

0     11.0
1     14.0
2     15.0
3      NaN
4     16.0
5     19.0
6      NaN
7     32.0
8     59.0
9     61.0
10     NaN
11    21.0
dtype: float64

In [5]:
mySer4.isna().sum()

3

In [7]:
# any()
mySer4.isna().any()

True

In [8]:
# Never drop missing values, always try to resolve it
# Drop only if it cannot be replaced

In [24]:
# dropna() - drop missing values
mySer4.dropna()

0     11.0
1     14.0
2     15.0
4     16.0
5     19.0
7     32.0
8     59.0
9     61.0
11    21.0
dtype: float64

In [25]:
mySer4

0     11.0
1     14.0
2     15.0
3      NaN
4     16.0
5     19.0
6      NaN
7     32.0
8     59.0
9     61.0
10     NaN
11    21.0
dtype: float64

In [20]:
# fillna() - fill missing values
mySer4.fillna(115)

0      11.0
1      14.0
2      15.0
3     115.0
4      16.0
5      19.0
6     115.0
7      32.0
8      59.0
9      61.0
10    115.0
11     21.0
dtype: float64

In [21]:
# if column with number, replace it with mean or median, if column with categorical values replace it with mode

In [38]:
tempMean = np.mean(mySer4)
tempMean

27.555555555555557

In [39]:
mySer4.fillna(tempMean)

0     11.000000
1     14.000000
2     15.000000
3     27.555556
4     16.000000
5     19.000000
6     27.555556
7     32.000000
8     59.000000
9     61.000000
10    27.555556
11    21.000000
dtype: float64

In [40]:
tempMedian = np.median(mySer4.dropna())
tempMedian

19.0

In [42]:
# or use nanmedian()
tempMedian = np.nanmedian(mySer4) #drops nan and calculate median
tempMedian

19.0

In [33]:
mySer4.fillna(tempMedian)

0     11.0
1     14.0
2     15.0
3     19.0
4     16.0
5     19.0
6     19.0
7     32.0
8     59.0
9     61.0
10    19.0
11    21.0
dtype: float64

In [44]:
mySer4.sort_values()

0     11.0
1     14.0
2     15.0
4     16.0
5     19.0
11    21.0
7     32.0
8     59.0
9     61.0
3      NaN
6      NaN
10     NaN
dtype: float64

In [45]:
mySer4

0     11.0
1     14.0
2     15.0
3      NaN
4     16.0
5     19.0
6      NaN
7     32.0
8     59.0
9     61.0
10     NaN
11    21.0
dtype: float64

In [47]:
# Panda median
tempMedianPd = mySer4.median()
tempMedianPd

19.0

In [49]:
# Panda mean
tempMeanPd = mySer4.mean()
tempMeanPd

27.555555555555557

In [51]:
mySer4.fillna(mySer4.median())

0     11.0
1     14.0
2     15.0
3     19.0
4     16.0
5     19.0
6     19.0
7     32.0
8     59.0
9     61.0
10    19.0
11    21.0
dtype: float64

In [52]:
mySer4.dtype

dtype('float64')

In [61]:
# astype - Both in numpy & pandas to change dtype
mySer4.dropna().astype("int8")

0     11
1     14
2     15
4     16
5     19
7     32
8     59
9     61
11    21
dtype: int8

In [65]:
# Apply Function : To use function
def mySum(df):
    return df * 10

mySer3 =pd.Series([12,16,18,19]) # This works only on series but not on dataframe
mySum(mySer3)

0    120
1    160
2    180
3    190
dtype: int64

In [66]:
# Correct method 
mySer3.apply(mySum)

0    120
1    160
2    180
3    190
dtype: int64

In [68]:
mySer2 = pd.Series([12,14,17,18,19,21,22,23,12,11,12,12])
mySer2

0     12
1     14
2     17
3     18
4     19
5     21
6     22
7     23
8     12
9     11
10    12
11    12
dtype: int64

In [69]:
# Remove Duplicates
mySer2.drop_duplicates()

0    12
1    14
2    17
3    18
4    19
5    21
6    22
7    23
9    11
dtype: int64