In [9]:
name = "Bharat\nKhanna"

print(name)

Bharat
Khanna

In [3]:
x = 34 - 23
y = "Hello"
z = 3.45

if z == 3.45 or y == "Hello":
    x = x + 1
    y = y + " World"
    
print(x)
print(y)

12
Hello World

In [4]:
type(x)

int

In [5]:
type(z)

float

In [7]:
type(name)

str

In [10]:
name = "Gary"
age = 23
salary = 25750.5
marital_status = "Married"

print(name)
print(age)
print(salary)
print(marital_status)

Gary
23
25750.5
Married