# Pandas

In [1]:
# Single column is series
# More than one column Data Frame

In [1]:
import pandas as pd

In [4]:
arr1 = np.random.randint(20,40,10)

In [5]:
print(arr1)

[29 22 34 23 35 33 25 33 27 29]

In [6]:
#Series-pandas Series object can be created using pd.series()

In [7]:
mySer=pd.Series(arr1)

In [8]:
mySer

0    29
1    22
2    34
3    23
4    35
5    33
6    25
7    33
8    27
9    29
dtype: int64

In [9]:
type (mySer)

pandas.core.series.Series

In [10]:
myList=[12,45,67,89,90]

In [12]:
mySer1=pd.Series(myList)
mySer1

0    12
1    45
2    67
3    89
4    90
dtype: int64

In [14]:
myTuple=(12,45, "Apple", "Banana", 89)

In [15]:
mySer2 = pd.Series(myTuple)
mySer2

0        12
1        45
2     Apple
3    Banana
4        89
dtype: object

In [16]:
myDic={"Name": "Mayank", "Salary":50000, "Age": 25}

In [17]:
mySer3 = pd.Series(myDic)
mySer3

Name      Mayank
Salary     50000
Age           25
dtype: object